body{
  background: powderblue;
}
img{
  border-radius: 30px;
  height: 100%;
}
div{
  min-width: 275px;
  height: 100%;
  justify-content: center;
  align-items: center;
}
h1{
  display: flex;
  background: white;
  min-width: 300px;
  height: 150px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}
.button{
  display: flex;
  background: greenyellow;
  border-radius: 100px;
  flex-wrap: wrap;
  font-size: 35px;
}
.dedfish{
  display: flex;
  background: skyblue;
  border-radius: 100px;
  min-width: 235px;
  height: 30px;
  flex-wrap: wrap;
  font-size: 10px;
  
}
.scam{
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  gap: 10px;
}